@import'partials/variables';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400&display=swap');

// ****Typography****
body{
    font-family:$font-primary;
}

h1{
    font-family: $font-secondary;
}
h2{
    font-family: $font-secondary;
}
h3{
    font-family: $font-secondary;
}
h4{
    font-family: $font-secondary;
}

.button{
    background-color:#25beb3 ;
    color: #ffff;
    border-radius: 2rem;
    padding: 10px 30px;
    text-transform: uppercase;
    cursor: pointer;
}

.button-big{
    background-color:#25beb3 ;
    color: #ffff;
    border-radius: 2rem;
    padding: 15px 40px;
    margin: 0 50px;
    text-transform: uppercase;
    cursor: pointer;
}

.button-xl{
    background-color:#5addcd ;
    color: #ffff;
    padding: 15px 40px;
    cursor: pointer;
}
